# Usar con: terraform plan -var-file=environments/block.tfvars -var="gcp_project_id=dp-proj-00-03-a1b2"
suffix                      = "a1b2"
gcp_region                  = "us-central1"
alert_email                 = "ops@tu-dominio.com"
cms_image                   = "us-central1-docker.pkg.dev/dp-proj-00-03-a1b2/dp-proj-00-03-cms/cms:latest"
cms_container_port          = 3000
cms_health_check_path       = "/api/health"
billing_alert_threshold_usd = 50
storage_location            = "US"
cms_min_instances           = 0
cms_max_instances           = 10
